:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("../img/meadow.jpg");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}
a {
    color: var(--link-color);
}
.top-nav {
    background: var(--light-bg);
    position:fixed;
    width: 100%;
    z-index: 1;
/*    the z-index prevents the image from scrolling over the navigation bar the number prioritizes scrolling
 in this case we only have one item, therefore any number except 0 will work*/
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-item {
    display: inline-block;
    padding:0 1.5em 0 1.5em;
}
.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--link-color);
}
.profile {
    background: var(--light-bg);
    height:80px;
}
.profile-image {
    position: absolute;
    /*when this goes absolute it is taken out of the normal document flow.  you need to
    apply a t,l,r,b attributes.  in this case, having it on the left side is good, we need to bring
    it down from the top of its container.  also, because this is taken out of the document flow, it
    floats over the nav bar when you scroll:  z-index fixes that*/
    top: 240px ;
}
.profile-form{
    float:right;
    /*instructor thinks this was a redundant step due to some html code*/
    line-height: 85px;
}
.profile-items{
    padding:0;
    list-style: none;
}
.profile-entry{
    margin:.5em;
}
.profile-details,
.timeline,
.who-to-follow{
    float:left;
    margin: 0 .5em;
}
.profile-details {
    width:calc(25% - 1em);
}
.timeline {
    width:calc(50% - 1em);
    background: #FFFFFF;
}
.who-to-follow {
    width:calc(25% - 1em);
    background: #FFFFFF;
}
.container {
    padding-top: 2em;
/*    instructor used margin-top*/
}
.media{
    width:100%;
    background-color: var(--light-bg);
    border-bottom: 1px solid var(--separator-color);
    padding: .5em;
    overflow:auto;
/*    overflow solves the problem of having the container collapse due to the media image and the
media body both being floated elements.  because the container will only hold the size of non-floated
elements unless we tell it otherewise.*/
}
.media-image{
    max-width: 50px;
    /*shrinks the image*/
    margin-top:1.33em;
    float:left;
}
.media-body {
    width:calc(100% - 50px);
    /*we want the body to take up the width of the page, but not interfere with the media image*/
    float:left;
/*    floating to the left keeps the image seperate from the body - asthetics*/
}
.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}

/*Let's start with the main navigation header. When we position navigation links we
 don't use float or position. We usually display the individual link elements inline-block.
--Each nav-item should display inline block and have a padding of 1.5em.
--Use the class top-nav to make the navigation fixed, it also needs to use 100% of the width.
(the width makes the nav bar extend across the browser screen)*/

/*Let's continue with the user's avatar and the Edit button positioning.*!*/
/*Use absolute positioning to center the avatar, you'll need to adjust the top value.
Use the class profile-image for this purpose.*!*/

/*Give a height of 80px to the profile class. To which side should we float the .profile-form?
One way to center text vertically is by changing its line-height. If it matches the height of
the container the text will be centered vertically. Center the button inside the .profile-form element.*/

/* If you scroll down the page you'll notice that the avatar now appears on top of the main navigation.
Fix this issue using z-index. Change the fixed top navigation z-index to 1000 or bigger. Does it work
with a smaller value?*/

/*profile-details, timeline, and who-to-follow should be floating elements. They should use
25%, 50% and 25% of the width respectively. These elements should have a margin of .5em to both sides
 (0 for top and bottom). Since we have a margin you will need to use calc to subtract the margin to
  the percents of the width property.*/
/*Let's continue with the media component.*!*/
/*The media selector should use 100% of the width of its container. Its background color should be
 light-bg. It should have a border at the bottom of 1px with color --separator-color. It must have a
 padding of .5em. Use the property overflow since it will contain only floating elements.*/
/*The media-image maximum width should be 50px, and it should float. It must have a margin top of 1.33em.*/
/*The media-body should float too. Its width will be 100%. We need to use calc to subtract the width of the
image. Finally, remove the bullets and the padding from profile-items. Add a margin of .5em to the
profile-entry class.*/


